@charset "UTF-8";
/*$*/
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

ul {
  list-style: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #FFFFFF;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
}

.container {
  /*
  width: 1200px;
  */
  outline: 2px solid red;
}
@media screen and (max-width: 764px) {
  .container {
    min-width: 320px;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .container {
    max-width: 768px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
}

/**
  |============================
  | HEADER
  |============================
*/
/*logo*/
.header {
  border: 1px solid #ECECEC;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.logo__accent {
  color: #2196F3;
}
/*.site_nav + text*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(0, 0, 0);
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 764px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .nav {
    margin-left: 88px;
    margin-right: 55px;
  }
}
.nav__item {
  display: block;
  position: relative;
}
.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link--link.nav__link--current::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196F3;
}
.nav :hover,
.nav :focus {
  color: #2196F3;
}

.nav .nav__link--link.nav__link--current {
  color: #2196F3;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
/*auth_nav*/
@media screen and (max-width: 764px) {
  .auth_nav {
    display: none;
  }
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .auth_nav {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .auth_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}
.auth_nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .auth_nav__link {
    font-size: 12px;
  }
}
.auth_nav__link:hover, .auth_nav__link:focus {
  color: #2196F3;
  fill: #2196F3 #2196F3;
}
@media screen and (min-width: 1200px) {
  .auth_nav .auth_nav-title:not(:first-child) {
    margin-left: 50px;
  }
}
.auth_nav__icon {
  display: block;
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (max-width: 764px) {
  .header__menu-btn {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .header__menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu-btn {
    display: none;
  }
}

@media screen and (min-width: 768px), (max-width: 1199.98) {
  .header__menu-icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu-icon {
    display: none;
  }
}

/**
  |============================
  | HEROOO
  |============================
*/
.section-hero {
  color: #FFFFFF;
  background-color: #2F303A;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .section-hero {
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
  }
}

.bg-img-hero {
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/mobile/hero-320.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/mobile/hero-320.png);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-img-hero .box {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/mobile/hero-320@2x.png");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/mobile/hero-320@2x.png");
  }
}
@media screen and (min-width: 481px) {
  .bg-img-hero {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/tablet/bg768.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/tablet/bg768.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .bg-img-hero .box {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/tablet/bg768@2x.png");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/tablet/bg768@2x.png");
  }
}
@media screen and (min-width: 769px) {
  .bg-img-hero {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/Imgbg.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/Imgbg.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .bg-img-hero .box {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/Imgbg@2x.png");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/Imgbg@2x.png");
  }
}

.hero__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 24px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  color: #FFFFFF;
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .hero__button:hover, .hero__button:focus {
    padding: 10px 32px;
  }
}

/**
  |============================
  | ADVANTAGES
  |============================
*/
.advantages {
  display: block;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .advantages {
    width: 738px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
}
.advantages__title {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .advantages__title {
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: start;
  }
}
.advantages__item {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .advantages__item {
    display: block;
    width: 354px;
    height: 228px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    display: inline-block;
    margin-bottom: 30px;
  }
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .advantages__item:not(:last-child) {
    margin-bottom: 0px;
  }
}
.advantages__text {
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.antenna::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-image: url(../images/decorations/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .antenna::before {
    display: block;
    content: "";
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url(../images/decorations/antenna.svg);
    background-color: #F5F4FA;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .antenna::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url(../images/decorations/antenna.svg);
    background-color: #F5F4FA;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.clock::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-image: url(../images/decorations/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .clock::before {
    display: block;
    content: "";
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-image: url(../images/decorations/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) {
  .clock::before {
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-image: url(../images/decorations/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.diagram::before {
  /*phone screen(<768px)*/
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-image: url(../images/decorations/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .diagram::before {
    display: block;
    content: "";
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-image: url(../images/decorations/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) {
  .diagram::before {
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-image: url(../images/decorations/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.astronaut::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-image: url(../images/decorations/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .astronaut::before {
    display: block;
    content: "";
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-image: url(../images/decorations/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) {
  .astronaut::before {
    display: inline-block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    background-image: url(../images/decorations/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

/**
  |============================
  | WORRRKKKKKSSSS
  |============================
*/
@media screen and (max-width: 764px) {
  .section-works {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-works {
    padding-top: 0px;
  }
}

@media screen and (max-width: 764px) {
  .works {
    display: none;
  }
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .works {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .works__item:not(:last-child) {
    margin-right: 30px;
  }
  .works__img {
    position: relative;
  }
  .works__text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
  }
  .works__text {
    font-weight: 700;
    size: 14px;
    padding-top: 27px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 764px) {
  .works__title {
    display: none;
  }
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .works__title {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .works__title {
    font-size: 36px;
    letter-spacing: 0.06em;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

/**
  |============================
  | TTTTEEAAAAMMMMMMMMM
  |============================
*/
.section-team {
  background-color: #F5F4FA;
  width: 100%;
}

/*team-box*/
.team {
  display: block;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team__item {
  background-color: #FFFFFF;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  margin-left: 0px;
  max-width: 450px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .team__item {
    width: 354px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    margin-bottom: 0px;
  }
}
.team__item:not(:last-child) {
  margin-right: 0px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .team__item:not(:last-child) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:not(:last-child) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.team-personality__text {
  padding-top: 30px;
  padding-bottom: 0px;
}

.team-personality__speciality {
  font-size: 16px;
  color: rgb(117, 117, 117);
  letter-spacing: 0.03em;
  line-height: 1.1875;
  color: #757575;
}
.team-personality__title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.1875;
  margin-bottom: 10px;
}

/*section-title-main-team*/
.team-main-title {
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 1.1785714286;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-main-title {
    font-size: 36px;
    letter-spacing: 0.06em;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
}
.socials__icons:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AFB1B8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196F3;
  color: #F5F4FA;
}
.socials__link:not(:last-child) {
  margin-right: 10px;
}

.icon:hover,
.icon:focus {
  fill: #F5F4FA;
}

.icon {
  fill: currentColor;
}

/**
  |============================
  | CLIENTSSS
  |============================
*/
.clients-main-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients-main-title {
    font-size: 36px;
    letter-spacing: 0.06em;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1170px;
    gap: 30px;
  }
}
.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .clients__item {
    width: calc((100% - 60px) / 3);
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color, color, border-color;
  transition-property: background-color, color, border-color;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}
.clients__svg {
  fill: currentColor;
}

/**
  |============================
  | FOOOTERRR
  |============================
*/
.footer {
  color: #FFFFFF;
  background-color: #2F303A;
  padding-top: 0px;
  padding-bottom: 0px;
}
.footer__logo {
  color: #FFFFFF;
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .footer__logo {
    display: block;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    display: block;
  }
}

.footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.div-footer-text {
  text-align: center;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .div-footer-text {
    margin-right: 165px;
    text-align: start;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .div-footer-text {
    margin-right: 70px;
    padding-bottom: 0px;
  }
}

.site_nav_footer {
  margin-top: 20px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site_nav_footer__footer-adress {
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  margin-bottom: 9px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site_nav_footer__footer-adress-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site_nav_footer__footer-adress-contact-mail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-transform: none;
  font-family: "Roboto", sans-serif;
  margin-bottom: 9px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site_nav_footer :hover,
.site_nav_footer :focus {
  color: #2196F3;
}

/*===========================================*/
.div-footer-icons {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .div-footer-icons {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .div-footer-icons {
    display: block;
    text-align: center;
  }
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .footer-title {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title {
    margin-top: 12px;
    text-align: start;
  }
}

.footer-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-icon-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-icon-box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-box__link:hover, .footer-icon-box__link:focus {
  background-color: #2196F3;
  color: #F5F4FA;
}
.footer-icon-box__link:not(:last-child) {
  margin-right: 10px;
}
.footer-icon-box__input:not(:last-child) {
  margin-right: 10px;
}

.icon:hover,
.icon:focus {
  fill: #F5F4FA;
}

.icon {
  fill: currentColor;
}

/*МЕЙЛИНГ*/
.footer-mailing {
  display: block;
  margin-top: 60px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .footer-mailing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing {
    margin-left: 93px;
    padding-top: 12px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing {
    gap: 12px;
  }
}

.footer-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.modal-label-mailing {
  color: #757575;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .modal-label-mailing {
    text-align: start;
    margin-right: 12px;
    width: 358px;
  }
}

.mailing-icon_title {
  display: block;
  text-align: center;
  height: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .mailing-icon_title {
    text-align: start;
  }
}

.email-mailing {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  border-radius: 4px;
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #188CE8;
  color: #FFFFFF;
}

.bloc-btn-cvg {
  display: block;
  margin: 13px 18px 13px 10px;
}

/*МОДАЛКА*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--backdrop-idx);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 528px;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 150ms ease 400ms, -webkit-transform 150ms ease 400ms;
  transition: opacity 150ms ease 400ms, -webkit-transform 150ms ease 400ms;
  transition: opacity 150ms ease 400ms, transform 150ms ease 400ms;
  transition: opacity 150ms ease 400ms, transform 150ms ease 400ms, -webkit-transform 150ms ease 400ms;
  padding: 40px;
}
@media screen and (max-width: 764px) {
  .modal {
    width: 450px;
  }
}
@media screen and (max-width: 764px) {
  .modal__modal-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .modal__modal-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    padding-left: 50px;
    padding-right: 59px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__modal-title {
    display: block;
    font-size: 700px;
    font-size: 18px;
    line-height: 1.15;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 23px;
    width: 448px;
    margin-bottom: 12px;
  }
}

.backdrop.is-hidden.modal {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.modal__modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 60%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__modal-btn:hover .modal__modal-icon, .modal__modal-btn:focus .modal__modal-icon {
  fill: #2196F3;
}

.modal__modal-icon {
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.1666666667;
  color: #757575;
  margin-bottom: 4px;
}
.modal-form__group {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__field {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: 250ms;
  transition: 250ms;
}
.modal-form__field:focus {
  border-color: #2196F3;
}
.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal-form__field:focus + .modal-form__icon {
  fill: #2196F3;
}

.modal-texteria {
  width: 448px;
  max-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  -webkit-transition: 250ms;
  transition: 250ms;
  outline: transparent;
  margin-bottom: 10px;
}
@media screen and (max-width: 764px) {
  .modal-texteria {
    width: 370px;
  }
}
.modal-texteria:focus {
  border-color: #2196F3;
}

/*
checkbox*/
.modal-form__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  padding-left: 16px;
  margin-bottom: 30px;
}
.checkbox-link {
  color: #2196F3;
  text-decoration: underline;
}
@media screen and (max-width: 764px) {
  .checkbox-link {
    font-size: 12px;
  }
}
.checkbox-form {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid black;
  cursor: pointer;
  margin-right: 7px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .checkbox-form {
    color: #757575;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}
.checkbox-form:checked {
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='white'%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 764px) {
  .checkbox-text {
    color: #757575;
    margin-right: 5px;
    font-size: 12px;
  }
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .checkbox-text {
    color: #757575;
    margin-right: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox-text {
    color: #757575;
    margin-right: 5px;
  }
}

.checkbox-btn {
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  padding: 10px 52px;
  border-radius: 4px;
  margin-left: 124px;
  margin-right: 124px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-btn:hover, .checkbox-btn:focus {
  background-color: #188CE8;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/**
  |============================
  | MOBILE MEnu
  |============================
*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover .menu-toggle-icon,
.menu-toggle:focus .menu-toggle-icon {
  fill: #2196F3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #FFFFFF;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .menu-container {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .menu-container.is-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container.is-open {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: rgb(0, 0, 0);
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .menu-container .menu-toggle {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container .menu-toggle {
    display: none;
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 292px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

.menu-container .mobile-menu .current-menu {
  color: #2196F3;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .menu-container .mobile-menu .current-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container .mobile-menu .current-menu {
    display: none;
  }
}

.mobile-contacts__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .mobile-contacts__item {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-contacts__item {
    display: none;
  }
}

.menu-number {
  font-family: "Roboto", sans-serif;
  color: #2196F3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .menu-number {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-number {
    display: none;
  }
}

.menu-mail {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .menu-mail {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-mail {
    display: none;
  }
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .mobile-menu .link {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-menu .link {
    display: none;
  }
}

.link {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .link {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .link {
    display: none;
  }
}
.link:not(:last-child) {
  margin-bottom: 32px;
}
.link:hover, .link:focus {
  color: #2196F3;
}

.mobile-contacts {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .mobile-contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-contacts {
    display: none;
  }
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .mobile-socials {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-socials {
    display: none;
  }
}

.mobil-socials__item {
  padding-right: 10px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .mobil-socials__item {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobil-socials__item {
    display: none;
  }
}
.mobil-socials__item:not(:first-child) {
  padding-left: 10px;
}
.mobil-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobil-socials__link {
  color: #2196F3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .mobil-socials__link {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobil-socials__link {
    display: none;
  }
}

/**
  |============================
  | PORFOLIO
  |============================
*/
.pointer {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.62;
  font-size: 16px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, box-shadow, color;
  transition-property: background-color, box-shadow, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
}
@media screen and (min-width: 1200px) {
  .pointer {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.portfolio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .portfolio-button {
    margin-bottom: 30px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 575px;
    margin-bottom: 34px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-button {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 575px;
    margin-bottom: 34px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
  }
}
.portfolio-button__item {
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-left: 8px;
}
.portfolio-button__item:hover, .portfolio-button__item:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio {
  display: block;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    width: 1170px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .portfolio__item {
    margin-bottom: 0px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    margin-bottom: 0px;
    width: auto;
  }
}

.portfolio__item:hover,
.portfolio__item:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__before-text-portfolio {
  position: relative;
  overflow: hidden;
}
.portfolio__text-hover-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}
.portfolio__link:hover .portfolio__text-hover-portfolio {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow: visible;
}

.portfolio__link:focus .portfolio__text-hover-portfolio {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow: visible;
}

.portfolio__p-text-hover-portfolio {
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.5555555556;
  color: #FFFFFF;
}
.portfolio__section-title-portfolio {
  font-size: 18px;
  color: rgb(0, 0, 0);
  letter-spacing: 0.06em;
  line-height: 2;
  margin-bottom: 4px;
}
.portfolio__text {
  font-size: 16px;
  color: rgb(117, 117, 117);
  letter-spacing: 0.03em;
  line-height: 1.87;
}
.portfolio__link {
  text-decoration: none;
}

.portfolio__text-portfolio-box {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
@media screen and (min-width: 768px), (max-width: 1199.98) {
  .portfolio__text-portfolio-box {
    padding: 20px 24px 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__text-portfolio-box {
    padding: 20px 24px 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
  }
}

/*цвет основного текста #212121 */
/*вторичный цвет текста #757575 */
/*цвет перед кнопкой #FFFFFF */
/*вторичный цвет фона #F5F4FA */
/*акцент #2196F3 */
/*почта и номер в футере rgba(255, 255, 255, 0.6)
*/
/*Текст в портфолио под заголовком  rgba(117, 117, 117, 1) */
/*Цвет фона заголовка на главном экране #2F303A  */
/*цыет фона в секции команда  #F5F4FA */
/*Кнопка в bg   #188CE8 *//*# sourceMappingURL=main.css.map */