.section-team {
    background-color: $team-bg;
}

/*team-box*/
.team {
    display: flex;

    &__item {
            background-color: #FFFFFF;
            text-align: center;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }

    &__item:not(:last-child) {
            margin-right: 30px;
        }
}



.team-personality__text {
    padding-top: 30px;
    padding-bottom: 0px;

    &__title {
            font-size: 16px;
            letter-spacing: 0.03em;
            font-weight: 500;
            margin-bottom: 10px;
        }

        &__speciality {
            font-size: 16px;
            color: $text-portfolio-team;
            letter-spacing: 0.03em;
            letter-spacing: 0.03em;
        }
}


/*section-title-main-team*/
.team-main-title {
    font-size: 36px;
    letter-spacing: 0.06em;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}





.socials {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 30px;

    &__icons:not(:last-child) {
            margin-right: 10px;
        }

        &__link {
            display: flex;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            color: $fill-team-icons;
            transition-property: background-color, color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
                background-color: $accent-color;
                color: $team-bg;
            }
        }

        &__link:not(:last-child) {
            margin-right: 10px;
        }
}


.icon:hover,
.icon:focus {
    fill: $team-bg;
}

.icon {
    fill: currentColor
}
