a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    font: inherit;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-no-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

ul {
    list-style: none;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}