    $primary-text-color: rgb(0, 0, 0);
    $text-color: #757575;
    $accent-color: #2196F3;
    $primary-bg-color: #FFFFFF;
    $text-footer: #FFFFFF;
    $bg-color: #2F303A;
    $bg-button: #188CE8;
    $team-bg: #F5F4FA;
    $footer-team-text: rgba(255, 255, 255, 0.6);
    $text-portfolio-team: rgba(117, 117, 117, 1);
    $button-portfolio: #F5F4FA;
    $fill-team-icons: #AFB1B8;
    $fill-team-icons-hover-focus: #FFFFFF;